html{
    height: 150%;
}

body{
    height: 150%;
    background-image: url("assets/Alpha_build_-_World_17.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

@font-face {
    font-family: 'interregular';
    src: url('assets/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
         url('assets/inter-variablefont_slntwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    
#wrapper{
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 5vh;
}

#topBar{
    display: flex;
    grid-column: 1 / 4;
    grid-row: 1;
    height: 3.5rem;
    background-color: #35181e;
    align-items: center;
}

#burgerMenue{
    display: flex;
    z-index: 999;
    grid-row: 1;
    grid-column: 1;
    margin-left: 1vw;
    height: 5vh;
    width: 5vh;
    opacity: 1;
    user-select: none;
    border: 0px solid #f00;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.nav div {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    height: 0.8vh;
    width: 4.9vh;
    margin-bottom: 0.7vh;
    z-index: 100;
    background-color: whitesmoke;
    flex-direction: row;
    position: absolute;
}

.nav{
    grid-row: 1;
    grid-column: 1;
    margin-left: 1vw;
    position: absolute;
    margin-top: 5px;
    z-index: 100;
}

#smolLogo {
    display: flex;
    z-index: 100;
    grid-row: 1;
    grid-column: 2;
    background-image: url('https://playpaxdei.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2F96ostmeapxb7%2F5gMPGFhSxvlwUzMBiHHAFc%2Fbbc3b2bee56bafc3a4671531312424ee%2FPaxDei_Monogram_4k_light.png%3Fw%3D1920&w=1920&q=100');
    background-size: cover; 
    width: 4.9vh;
    height: 4.9vh;
    justify-self: center;
    margin-top: 0.3rem;
}


#myDropDown{
    z-index: 99;
    background-color: rgba(8, 11, 16, 0.96);
    grid-row: 2;
    grid-column: 1;
    flex-direction: column;
    font-family: 'interregular', serif;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 5vh;
    left: -100%;
    transition: left 400ms;
}

#myDropDown a{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: transparent;
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    font-family: 'interregular', serif;
    font-size: 2rem;
    margin-top: 8vh;
}

.mapContainer{
    position: relative;
}

.mapPoint{
    position: absolute;
    width: 2vh;
    height: 2vh;
    background-color: rgb(255, 229, 192);
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    transform: translateX(-50%);
    user-select: none;
    border-radius: 50%;
}

.line {
    position: absolute;
    background-color: rgb(255, 229, 192);
    height: 87vh;
    width: 2px;
    margin-left: -1px;
    left: 50%;
}

#pointOne{
    left: 50%;
    top: 50svh;
}

#pointTwo{
    left: 50%;
    top: 150svh;
}

#pointThree{
    left: 50%;
    top: 250svh;
}

#pointFour{
    left: 50%;
    top: 350svh;
}

.roadMark{
    width: 20rem;
    margin: 50px auto;
    background: rgb(255, 240, 190);
    aspect-ratio: 16 / 5;
    text-align: center;
    font-weight: 900;
    color: #35181e;
    position: absolute;
    transform: translate(-50%, -0%);
    user-select: none;
    transition: opacity 1s ease,
                transform 0.5s cubic-bezier(0.68, -0.35, 0.27, 1.55);
    z-index: 98;
    opacity: 0;
    transform-style: preserve-3d;
    border-radius: 10px;
}

#first{
    left: 50%;
    top: 58svh;
}

#second{
    left: 50%;
    top: 158svh;
}

#third{
  top: 258svh;
  left: 50%;
}

#firstMark{
    top: 50svh;
    left: 50%;
}

#secondMark{
    top: 150vh;
    left: 50%;
}


#thirdMark{
    top: 250svh;
    left: 50%;
}

#fourthMark{
    top: 350svh;
    left: 50%;
}

p{
    transition: transform 0.5 ease;
}

section{
    min-height: 100svh;
}

.show{
    opacity: 1;
    transform: translate(-50%, -150%);
}

.pulser{
    animation: pulse 700ms ease;
}


@media(prefers-reduced-motion){
    .roadMark{
        transition: none;
    }
}

@media only screen and (min-width: 1300px){

    .roadMark{
        width: 30rem;
        margin: 50px auto;
        aspect-ratio: 16 / 5;
        text-align: center;
        font-weight: 900;
        position: absolute;
        transform: translate(-0%, -150%);
        user-select: none;
        transition: opacity 1s ease,
                    transform 0.5s cubic-bezier(0.68, -0.35, 0.27, 1.55);
        z-index: 98;
        opacity: 0;
        transform-style: preserve-3d;
    }

    .show{
        opacity: 1;
        transform: translate(-50%, -150%);
    }

    @keyframes pulse{
        from, to{
            width: 30rem;
        }
    
        50%{
            width: 35rem;
        }
    }

    #myDropDown{
        display: flex;
        z-index: 99;
        grid-row: 2;
        grid-column: 1;
        border-radius: 0;
        font-family: 'interregular', serif;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 5vh;
        left: -110%;
        transition: left 400ms;
    }
}